:root {
    --main-txt-color: #f280cb;
    --main-bg-color: #415587;
}

* {
    margin: 0%;
}
.background {
    /* background-color: #415587; */
}

.headerButton {
    background-color: var(--main-bg-color);
    align-self: self-end;
    color: var(--main-txt-color);
    /* padding: 10px 20px; */
    border: none;
    cursor: pointer;
    /* border-bottom: 1px solid black; */
    font-size: 17px;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
}

.background {
    /* background-color: var(--main-bg-color); */
}
.header a.icon {
    background: #415587;
    color: #f280cb;
    font-size: 300%;
}
.header a.icon:hover {
    /* background: #41?5587; */
    color: white;
    /* font-size: 300%; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #415587;
    color: #f280cb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Logo styling */
.logo img {
    width: 80px;
    padding: 5px 10px;
    height: auto;
}

/* Centering the company name */
.company-name {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 20px;
}

/* Mobile menu styling (hidden by default) */
#mobile-menu {
    display: none;
    background-color: #415587;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.active {
    background-color: #04aa6d;
    color: white;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Show the menu when active */
.mobile-menu.active {
    display: block;
}

/* Responsive Design: Show Hamburger on Small Screens */
@media (max-width: 768px) {
    .company-name {
        font-size: 1.5rem; /* Reduce font size */
    }

    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }
}
