.nieuwLid {
    position: relative;
    display: flex;
    /* max-height: 250px; */
    /* border: 1px solid #000; */
    background-color: gray;
    border-radius: 20px;
    margin: 2%;
    /* max-width: fit-content; */
}
.nieuwLid .nlIMG {
    border-radius: 20px;
    vertical-align: top;

    max-width: 200px;
    height: auto;
    /* max-height: 300px; */
}
.NFoverlay {
    position: absolute;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    /* height: 250px; */
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #008cba;
}
.nieuweFractieAchtergrond {
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: block;
    align-self: center;
    justify-content: center;
    background-color: white;
    /* margin: 0px 5% 0px 5%; */
    /* margin: 0px 5% 0px 5%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;

    height: auto;
    max-width: 1080px;
}
.nieuwLid:hover .NFoverlay {
    border-radius: 20px;
    opacity: 0.8;
}
.NFtext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.NFinfo {
    padding: 05px 15px 5px 15px;
    white-space: pre-line;
    font-size: 1rem;
    font-family: "Anton";
    /* font-weight: bold; */
    /* text-align: center; */
    /* color: #f280cb; */
}
