.intro {
    display: flex;
    color: #f280cb;
    max-width: 1080px;
    margin: auto;
    position: relative;

    /* height: 500px; */
}
.introTekst h1 {
    font-size: 2.5rem;
    font-family: "Anton";
}
.introTekst p {
    font-size: large;
    font-family: "Public Sans";
}
.introLogo {
    padding: 2%;
    padding-left: 15%;
    width: 40%;
    padding-bottom: 5%;
    /* height: 100px; */
}
