.blok {
    font-family: "Public Sans";
    height: auto;
    background-color: white;
    min-height: 500px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px (rgba(0r, 0, 0, 0.1));
    margin: 40px auto;
    text-align: center;
    padding: 40px;
    color: gray;
}
.tekstVanHetBlok {
    padding-top: 1%;
    justify-self: center;
    max-width: 800px;
    /* background-color: gray; */
}
.blok h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.blok p {
    font-size: 0.9rem;
    line-height: 1.6;
}

.blokTekst {
    white-space: pre-line;
}
