@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
.achtergrondFoto {
    width: 100vh;
}
.App {
    background: url("./Components/Img/AchtergrondPvdUSScherp.png") no-repeat
        center top fixed;
    background-size: cover;
}

.streep {
    width: 90%;
    max-width: 1080px;
    height: 2px;
    justify-self: center;
    background-color: #415587;
    color: transparent;
}
.blokjes {
    /* padding-top: 5%; */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1080px;
    margin: auto;
    /* position: relative; */
    /* background-color: green; */
    padding-bottom: 1%;
}
.blokje {
    width: 30%;
    /* max-width: 324px; */
    background-color: #f280cb;
    min-height: 300px;
    padding: 1%;
    transition: box-shadow 0.14s ease;
}
.blokje:hover {
    box-shadow: 2px 2px 35px rgba(0, 123, 255, 0.6);
    opacity: 0.8;
}
.blokjeFoto {
    padding: 1%;
}
