.fractieLijst {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.fractieLid {
    display: flex;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.4s ease;
    position: relative;
}

.fractieLid:hover {
    transform: scale(1.6);
    z-index: 10; /* Zorgt dat het boven de rest komt */
}

.fractieFotoContainer {
    /* flex: 0 0 100px; */
    height: 100%;
    width: auto;
    overflow: hidden;
    transition: flex-basis 0.4s ease;
}

.fractieLid:hover .fractieFoto {
    flex-basis: 130px;
}

.fractieFoto {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: transform 0.4s ease;
}

.fractieLid:hover .bioImg {
    transform: scale(1.2) translateX(-10%);
}

.fractieTekst {
    flex: 1;
    padding: 10px;
    transition: all 0.4s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fractieNaam {
    font-weight: bold;
    font-size: 1.2rem;
    transition: opacity 0.3s ease;
}

.fractieLangeTekst {
    font-size: 0.7rem;
    display: none;
    transition: opacity 0.3s ease;
}

.fractieLid:hover .fractieNaam {
    display: none;
}

.fractieLid:hover .fractieLangeTekst {
    display: block;
}
